MODEL_CENTER_IMAGE=ghcr.io/thesyart/model-center@sha256:REPLACE_WITH_VERIFIED_DIGEST
MODEL_CENTER_PORT=3000
MODEL_CENTER_UID=1000
MODEL_CENTER_GID=1000
MODEL_CENTER_ENV_FILE=/etc/serverops/apps/model-center.env
MODEL_CENTER_DATA_DIR=/srv/serverops/data/model-center
